<!doctype html>
<html class="no-js full-height" lang="{{ request.locale.iso_code }}">
    <head>
        <meta charset="utf-8">
        <meta content="IE=edge" http-equiv="X-UA-Compatible">
        <meta content="width=device-width,initial-scale=1" name="viewport">
        <meta content="" name="theme-color">
        <link rel="canonical" href="{{ canonical_url }}">
        <link crossorigin href="https://cdn.shopify.com" rel="preconnect">


        <title>{{ shop.name }}</title>

        <meta name="description" content="{{ page_description | escape }}">

        {% render 'meta-tags' %}

        {{ content_for_header }}

        <script>document.documentElement.className = document.documentElement.className.replace('no-js', 'js');</script>

    </head>

    <body class="password gradient">
        <a class="skip-to-content-link button visually-hidden" href="#MainContent">
            {{ 'accessibility.skip_to_text' | t }}
        </a>

        {% section 'main-password-header' %}
        <div>{{ content_for_layout }}</div>

        <ul hidden>
            <li id="a11y-new-window-message">{{ 'accessibility.link_messages.new_window' | t }}</li>
        </ul>
    </body>
</html>
